cmf_routing:
    chain:
        routers_by_id:
            # enable the DynamicRouter with high priority to allow overwriting configured routes with content
            # symfony_cmf_routing_extra.dynamic_router: 200
            # enable the symfony default router with a lower priority
            sonata.page.router: 150
            router.default: 100
#
# more information can be found here http://sonata-project.org/bundles/page
#
sonata_page:
    multisite: host #host_with_path
    use_streamed_response: false # set the value to false in debug mode or if the reverse proxy does not handle streamed response
    ignore_route_patterns:
        - (.*)admin(.*)     # ignore admin route, ie route containing 'admin'
        - ^_(.*)            # ignore symfony routes

    ignore_routes:
        - sonata_page_cache_esi
        - sonata_page_cache_ssi
        - sonata_page_js_sync_cache
        - sonata_page_js_async_cache
        - sonata_cache_esi
        - sonata_cache_ssi
        - sonata_cache_js_async
        - sonata_cache_js_sync
        - sonata_cache_apc

    ignore_uri_patterns:
        - admin(.*)     # ignore admin route, ie route containing 'admin'

    cache_invalidation:
        service:  sonata.page.cache.invalidation.simple
        recorder: sonata.page.cache.recorder
        classes:
            "Application\Sonata\PageBundle\Entity\Block": getId

    default_template: default
    templates:
        default: { path: 'RzPageBundle:theme\rzcms:layout.html.twig', name: 'Default' }
        rzcms_homepage: { path: 'RzPageBundle:theme\rzcms:homepage.html.twig', name: 'Homepage' }
        rzcms_blog: { path: 'RzPageBundle:theme\rzcms:blog.html.twig', name: 'Blog' }
        rzcms_blog_post: { path: 'RzPageBundle:theme\rzcms:blog_post.html.twig', name: 'Blog Post' }
        rzcms_gallery: { path: 'RzPageBundle:theme\rzcms:gallery.html.twig', name: 'Gallery' }
        rzcms_user_profile: { path: 'RzPageBundle:theme\rzcms:profile.html.twig', name: 'User Profile' }
        rzcms_full: { path: 'RzPageBundle:theme\rzcms:full.html.twig', name: 'Generic Page' }

    page_defaults:
        homepage: {decorate: false, enabled: true}

#    assets:
#        stylesheets:
#            # Defaults:
#            - assetic/sonata_front_css.css
#            - assetic/sonata_front_font_css.css
#            - assetic/sonata_front_edit_css.css
#            - assetic/sonata_front_edit2_css.css
#            - assetic/sonata_front_theme_css.css
#            - assetic/sonata_front_theme2_css.css
#            - assetic/sonata_front_theme_override_css.css
#
#        javascripts:
#            # Defaults:
#            - assetic/sonata_front_js.js
#            - assetic/sonata_front_edit_js.js
#            - assetic/sonata_front_theme_js.js

    caches:
         esi:
            token: ~
            version: 3
            servers:
                # you need to ajust this configuration to match your varnish configuration
                - %sonata_page.varnish.command%
         ssi:
            token: ~ #add an unique token here # default is a random value

    catch_exceptions:
        not_found: [404]    # render 404 page with "not_found" key (name generated: _page_internal_error_{key})
        fatal:     [500]    # so you can use the same page for different http errors or specify specific page for each error

    is_inline_edition_on: true

# Enable Doctrine to map the provided entities
doctrine:
    orm:
        entity_managers:
            default:
                mappings:
                    ApplicationSonataPageBundle: ~
                    SonataPageBundle: ~
